.main .line {
    clear: both;
}
.main .line div {
    width: 25px;
    height: 25px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #eee;
    //transition: background-color .5s;
}

.main .line div.rival {
    background-color: red;
    //transition: background-color .1s;
}

.main .line div.self {
    background-color: blue;
    //transition: background-color .1s;
}
.main .line div.egg {
    background-color: green;
}